<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Perl과 웹 API 서비스</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://milligram.github.io/css/milligram.min.css">
    <link href='http://fonts.googleapis.com/earlyaccess/notosanskr.css' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
    <style>
      :lang(ko) { font-family: 'Noto Sans KR', sans-serif; }
    </style>
</head>
<body lang="ko">

<h1>Perl과 웹 API 서비스</h1>

<h2>개요</h2>
<p>PHP, Java, Python, JavaScript의 유행에서 떨어져, 오래된 것으로 꾸준히 하는 사람도 필요합니다. 바로 28년 넘게 발전해온 Perl 말입니다.<br />
그 오래된 것을 새로 배우는 사람도 필요합니다. 사람들이 Perl을 접하게 만들고자 합니다.</p>

<h2>목적</h2>
<p>사람들이 Perl로 만들어진 서비스를 이용하고, 소스코드를 접하게 합니다.</p>

<h2>세부내용</h2>
<ul>
<li>웹 API 서비스를 제공합니다.
<li>돈 되지 않고, 보안에 문제 되지 않고, 그러면서 유용한 기능 또는 데이터를 제공합니다.
<li>Perl과 Dancer를 이용하여 만듭니다.
<li>소스코드를 공개합니다.
</ul>

<h2>소스코드</h2>
<p><a href="http://github.com/imyaman/highest.youre.space">http://github.com/imyaman/highest.youre.space</a></p>

<h2>API 목록</h2>
<p><a href="http://github.com/imyaman/highest.youre.space">http://github.com/imyaman/highest.youre.space</a>에서 확인해주십시오.</p>

<h2>이용 예시</h2>

<h3>curl</h3>
<pre class="prettyprint">
$ curl -X GET -H 'Content-type: application/json' http://highest.youre.space/api/time <br />
$ curl -X GET -H 'Content-type: text/html' http://highest.youre.space/api/time <br />
$ curl -X GET -H 'Content-type: text/x-yaml' http://highest.youre.space/api/time <br />
$ curl -X GET -H 'Content-type: text/xml' http://highest.youre.space/api/time <br />
</pre>

<h3>JavaScript</h3>
<button id="btnTime">버튼을 클릭하면 시각을 확인하는 API를 호출합니다</button> <br />
<span id="hereTime">Time is here, <br /></span>
<script>
$(document).ready(function(){
    $("#btnTime").click(function(){
      $.get("http://highest.youre.space/api/time", function(data, status){
        $("#hereTime").append(data.time + "<br />");
      });
    });
});
</script>
<pre class="prettyprint">
$(document).ready(function(){
    $("#btnTime").click(function(){
      $.get("http://highest.youre.space/api/time", function(data, status){
        $("#hereTime").append(data.time + "&lt;br /&gt;");
      });
    });
});
</pre>

<h2>내 컴퓨터에서 실행하기</h2>
<p>소스코드를 다운로드 받습니다. perl을 설치합니다. Dancer 모듈을 설치합니다. 아래 명령으로 실행합니다.<br />
$ perl app.psgi</p>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- highest -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6681966312873395"
     data-ad-slot="6601002462"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<pre class="prettyprint"></pre>
</body>
</html>
